<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <div style="margin: 5px;">
    <ion-row>
      <ion-col size="2">
        <div >
          <ion-back-button></ion-back-button>
        </div>
      </ion-col>
      <ion-col size="10" style="margin:auto">
        <div >
          <p class="heavyFont txtPrimary noMargin" style="font-size: 24px;">Home</p>
        </div>
      </ion-col>
     
    </ion-row>
  </div>

</ion-header>

<ion-content>
  <ion-button (click)="testpage()">TestPage</ion-button> 
</ion-content>
